#frame {
  display: block;
  width: 800px;
  margin: 50px auto;
}

button {
  width: 200px;
  height: 80px;
  display: inline-block;
  margin: 0 auto;
  color: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  top: 400px;
  border-radius: 70%;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  background: #4c4c4c; /* Old browsers */
  background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}
button:hover {
  cursor: pointer;
  background: rgb(76,76,76); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

button:active {
  border: 5px solid black;
}

button:focus {
  outline: none;
}

#container {
  width: 600px;
  height: 200px;
  position: absolute;
  top: 80px;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  padding-top: 100px;
}

.loto {
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  padding: 10px 10px 10px;
  margin-right: 15px;
  margin-left: 15px;
  line-height: 60px;
  position: absolute;
}

#container .loto:first-child {
  left: 0;
  bottom: -20px;
  background: rgb(239,239,239); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, rgba(239,239,239,1) 30%, rgba(86,160,234,1) 30%, rgba(0,88,221,1) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(239,239,239,1) 30%,rgba(86,160,234,1) 30%,rgba(0,88,221,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(239,239,239,1) 30%,rgba(86,160,234,1) 30%,rgba(0,88,221,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#0058dd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#container .loto:nth-child(2) {
  left: 120px;
  bottom: 0;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 30%, rgba(234,79,79,1) 30%, rgba(147,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 30%,rgba(234,79,79,1) 30%,rgba(147,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 30%,rgba(234,79,79,1) 30%,rgba(147,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#930000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#container .loto:nth-child(3) {
  left: 240px;
  bottom: 10px;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 30%, rgba(61,61,61,1) 30%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 30%,rgba(61,61,61,1) 30%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 30%,rgba(61,61,61,1) 30%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#container .loto:nth-child(4) {
  left: 360px;
  bottom: 0;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 30%, rgba(55,204,72,1) 30%, rgba(0,76,17,1) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 30%,rgba(55,204,72,1) 30%,rgba(0,76,17,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 30%,rgba(55,204,72,1) 30%,rgba(0,76,17,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#004c11',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#container .loto:nth-child(5) {
  left: 480px;
  bottom: -20px;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 30%, rgba(219,219,59,1) 30%, rgba(68,66,0,1) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 30%,rgba(219,219,59,1) 30%,rgba(68,66,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 30%,rgba(219,219,59,1) 30%,rgba(68,66,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#444200',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#lotto {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 40px;
  left: 25px;
  right: 0;;
}

#logo {
  width: 200px;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 90px;
  right: 0;
  left: -600px;
  transform: rotate(-15deg);
}

#coin {
  width: 200px;
  display: none;
  margin: 0 auto;
  position: absolute;
  top: 140px;
  left: 400px;
  right: 0;
}